body {
    background-color: #000813;
    color: #2D4B74;
}

h1 {
    background-color: #000813;
}

h2 {
    background-color: #000813;
}

a {
    color: #194889;
}

nav ul li a {
    color: #A50518
}

.byline {
    color: rgba(0,0,0,0.5);
}

#page-copyright {
    color: #A50518;
}