header{
    border-top: 4px solid rgba(0, 0, 0, .1);
    margin-left: -2em;
    margin-right: -2em;
}

body {
    font-family: 'Proza Libre', 'Verdana', 'Arial', sans-serif;
    background-color: #000813;
    color: #403636;
    min-height: 100vh;
    display: flex;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Proza Libre', sans-serif;
    background-repeat: repeat-x;
    background-color: #000813;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Proza Libre', sans-serif;
    background-repeat: repeat-x;
    background-color: #000813;
}

a {
    text-decoration: none;
    color: #194889;
}

nav a {
    color: #A50518;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    display: block;
    border: 4px solid rgba(0, 0, 0, 0);
}

.byline {
    color: rgba(0,0,0,0.5);
    font-size: 70%;
}

#page-copyright {
    text-transform: uppercase;
    color: #A50518;
    letter-spacing: 3px;
}

.bio p {
    text-indent: 3em;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 2em;
    margin-top: auto;
}

ul {
    list-style-type: circle;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.width-wrap {
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   padding-right: 2em;
   padding-left: 2em;
   margin-bottom: 3em;
   border-left: 1px solid rgba(0, 0, 0, .3);
   border-right: 1px solid rgba(0, 0, 0, .3);
   border-bottom: 1px solid rgba(0, 0, 0, .3);
   background-color: #4c7d72;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
   display: flex;
   flex-direction: column;
}

figure img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 28%, rgba(76,76,199,1) 59%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

footer hr {
    margin: auto;
    min-width: 300px;
    width: 50vw;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 3px solid #000000;
    border-bottom: 8px dotted #000000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
    border-right: none;
}

.paperclip{
    background-image: url("../Images/paperclip.png");
    height: 50px;
    width: 50px;
    background-size: contain; 
    position: absolute;
    right: -7px;
    top: -10px;
}

.mugshot{
    float: right;
    position: relative; 
    top: -1em;
}

.food{
    clear: both;
}

nav ul li{
    
}

nav{
    overflow: hidden;
    margin-right: 2em;
    margin-left: 2em;
    border-bottom: 1px dotted rgba(0, 0, 0, .3);
    margin-top: -4px;
}

* {
  box-sizing: border-box;
}

nav a:hover{
    border-top: 4px solid rgba(30, 43, 189, 1);
}

.back-to-top{
    text-align: right;
    margin-right: -0.5em;
    opacity: .5;
}

.back-to-top:hover{
    opacity: 1;
}

.back-to-top a{
    position: fixed;
    bottom: 3.5em;
}

main{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

.bio{
    grid-column: 1 / span 2;
}

.glossary{
    grid-column: 1 / span 2;
}

#useful-links{
    grid-column: 1 / span 2;
}

.gallery{
    grid-column: span 2;
    width: 100%;
}

.gallery-thumbnails{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.gallery-thumbnails a img{
    width: 100%;
    display: block;
}

.row-span-2{
    grid-row: span 2;
}

.col-span-2{
    grid-column: span 2;
}

img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px){
    footer{
        display: none;}
    .paperclip{
        display: none;}
    .mugshot{
        float: none;
        margin-right: 0;
        margin-left: 0;}
    main{
        display: block;}
    .row-span-2, .col-span-2{
        grid-column: span 1;
        grid-row: span 1;}
    nav ul{
        flex-direction: column;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;}
    nav ul li a{
        border: 0;}
    nav ul li a:hover{
        border: 0;
        text-decoration: underline;}
    .burger{
        visibility: visible;
        width: 40px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        border-top: 5px solid #2832a6;
        margin-top: 1em;
        cursor: pointer;
        position: relative;}
    .burger, .burger::before, .burger::after{
        width: 40px;
        border-top: 5px solid #2832a6;}
    .burger::before, .burger::after{
        content: '';
        display: block;
        position: absolute;}
    .burger::before{
        top: 5px;}
    .burger::after{
        top: 15px;}
    
    
}